<?xml version="1.0"?>
<!--
 Copyright © 2019 Wyomind. All rights reserved.
 See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="pickupatstore" frontName="pickupatstore">
            <module name="Wyomind_PickupAtStore"/>
        </route>
    </router>
</config>