<?xml version="1.0"?>
<!--
  Copyright © 2019 Wyomind. All rights reserved.
  See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Wyomind_PointOfSale" setup_version="9.0.1">
        <sequence>
            <module name="Wyomind_Framework"/>
        </sequence>
    </module>
</config>
