<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Model\Order\Pdf\Items\Invoice\DefaultInvoice" type="Emqube\Invoice\Model\Rewrite\Order\Pdf\Items\Invoice\DefaultInvoice"/>
    <preference for="Magento\Sales\Model\Order\Pdf\Invoice" type="Emqube\Invoice\Model\Rewrite\Order\Pdf\Invoice"/>
   
</config>