<?xml version="1.0"?>
<!--
 Copyright © 2017 Wyomind. All rights reserved.
 See LICENSE.txt for license details.
-->

<!--
  ~ Copyright © 2020 Wyomind. All rights reserved.
  ~ See LICENSE.txt for license details.
  -->

<!--
  ~ Copyright © 2020 Wyomind. All rights reserved.
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wyomind" translate="label" sortOrder="1000000" class='wyomind-logo'>
            <label>Wyomind</label>
        </tab>
        <section id="core" showInDefault="0" showInWebsite="0" showInStore="0">
            <tab>wyomind</tab>
        </section>
    </system>
</config>
