@font-face {
  font-family: 'Dubai';
  src: url("../fonts/Dubai-Light.woff2") format("woff2"), url("../fonts/Dubai-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dubai';
  src: url("../fonts/Dubai-Medium.woff2") format("woff2"), url("../fonts/Dubai-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dubai';
  src: url("../fonts/Dubai-Bold.woff2") format("woff2"), url("../fonts/Dubai-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dubai';
  src: url("../fonts/Dubai-Regular.woff2") format("woff2"), url("../fonts/Dubai-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

footer {
  color: #ffffff;
  background: url("../img/footer-bg-v1.jpg") #56391C no-repeat !important;
  padding: 50px 0 20px !important;
  position: relative;
  z-index: 0;
  background-position: right bottom;
  background-size: cover;
}

@media (min-width: 1800px) {
  footer:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/footer-bg-v1.jpg") !important;
    background-size: cover;
    bottom: 0;
    z-index: -1;
    background-position: right bottom;
  }
}

@media (min-width: 1800px) {
  footer {
    background: #56391C !important;
    z-index: 2;
  }
}

@media (max-width: 1236px) {
  footer {
    padding: 30px 0;
  }
}

@media (max-width: 991px) {
  footer {
    background-size: cover !important;
  }
}

@media (max-width: 767px) {
  footer {
    padding: 30px 0;
  }
}

footer .container {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

@media (max-width: 1236px) {
  footer .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1236px) {
  footer .container > div {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

footer .container p, footer .container a {
  font-size: 1.18rem;
  line-height: 1.5rem;
  color: #ffffff;
}

@media (min-width: 1800px) {
  footer .container p, footer .container a {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

@media (max-width: 1366px) {
  footer .container p, footer .container a {
    font-size: 1.1rem;
  }
}

@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  footer .container p, footer .container a {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media (max-width: 1236px) {
  footer .container p, footer .container a {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

@media (max-width: 767px) {
  footer .container p, footer .container a {
    font-size: 1.18rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 320px) {
  footer .container p, footer .container a {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media (max-width: 1236px) {
  footer .container a {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}

@media (max-width: 767px) {
  footer .container a {
    font-size: 1.18rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 320px) {
  footer .container a {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

footer .container a:hover {
  color: #C9972B;
}

footer .container .left {
  width: 16%;
}

@media (max-width: 767px) {
  footer .container .left {
    width: 100%;
    margin-right: 0;
    padding: 0 15px 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .container .left .f-logo {
  margin-bottom: 50px;
}

@media (max-width: 1236px) {
  footer .container .left .f-logo {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  footer .container .left .f-logo {
    margin-bottom: 0;
    padding-right: 50px;
    padding-right: 0;
    width: 50%;
  }
}

@media (max-width: 550px) {
  footer .container .left .f-logo {
    padding-right: 0;
    width: 40%;
  }
}

@media (max-width: 767px) {
  footer .container .left .f-logo img {
    margin: 0 auto 0 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  footer .container .left .address {
    width: 100%;
  }
}

footer .container .left .address .txt-b {
  padding-bottom: 15px;
}

footer .container .left .right-tagline {
  width: 90%;
}

@media (max-width: 767px) {
  footer .container .left .right-tagline {
    width: 50%;
  }
}

@media (max-width: 550px) {
  footer .container .left .right-tagline {
    width: 30%;
  }
}

@media (max-width: 767px) {
  footer .container .left .right-tagline img {
    margin: 0 0 0 auto;
  }
}

footer .container .middle {
  width: 61%;
  padding: 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1323px) {
  footer .container .middle {
    padding: 0 50px;
  }
}

@media (max-width: 1236px) {
  footer .container .middle {
    width: 61%;
  }
}

@media (max-width: 1280px) {
  footer .container .middle {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  footer .container .middle {
    width: 100%;
    padding: 30px 0 0;
  }
}

@media (max-width: 550px) {
  footer .container .middle {
    padding-top: 20px;
  }
}

footer .container .middle .f-links {
  margin-bottom: 50px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 80px;
}

@media (min-width: 1800px) {
  footer .container .middle .f-links {
    margin-bottom: 100px;
  }
}

@media (max-width: 991px) {
  footer .container .middle .f-links {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  footer .container .middle .f-links {
    padding: 0 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

footer .container .middle .f-links > li {
  margin-right: 8px;
  margin-bottom: 0;
}

@media (min-width: 1800px) {
  footer .container .middle .f-links > li {
    margin-right: 19px;
  }
}

@media (max-width: 1236px) {
  footer .container .middle .f-links > li {
    margin-right: 10px;
  }
}

@media (max-width: 650px) {
  footer .container .middle .f-links > li {
    width: 44%;
    margin-bottom: 15px;
  }
}

footer .container .middle .f-links > li:last-child {
  margin-right: 0;
}

footer .container .middle .f-links li {
  margin-bottom: 0;
}

footer .container .middle .f-links li a {
  font-weight: 300;
  padding: 5px 10px;
}

@media (min-width: 1800px) {
  footer .container .middle .f-links li a {
    padding: 8px 10px;
  }
}

@media (max-width: 1236px) {
  footer .container .middle .f-links li a {
    padding: 5px 8px;
  }
}

footer .container .middle .middle-btm {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1236px) {
  footer .container .middle .middle-btm {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767px) {
  footer .container .middle .middle-btm {
    padding: 0 10px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

footer .container .middle .middle-btm .address {
  text-align: left;
  margin-bottom: 20px;
  padding-left: 10px;
}

footer .container .middle .middle-btm .address p {
  margin-bottom: 3px;
}

footer .container .middle .middle-btm .address p br {
  display: none;
}

footer .container .middle .middle-btm .other-f-links {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1236px) {
  footer .container .middle .middle-btm .other-f-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  footer .container .middle .middle-btm .other-f-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .container .middle .middle-btm .other-f-links li {
  margin-bottom: 0;
}

@media (max-width: 1236px) {
  footer .container .middle .middle-btm .other-f-links li {
    width: auto;
  }
}

footer .container .middle .middle-btm .other-f-links li a {
  font-size: 1rem;
  font-weight: 300;
  padding: 1px 10px;
  line-height: 1.1rem;
  position: relative;
}

@media (min-width: 1800px) {
  footer .container .middle .middle-btm .other-f-links li a {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
}

@media (max-width: 1236px) {
  footer .container .middle .middle-btm .other-f-links li a {
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 4px 7px;
  }
}

@media (max-width: 767px) {
  footer .container .middle .middle-btm .other-f-links li a {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 5px 8px;
  }
}

@media (max-width: 320px) {
  footer .container .middle .middle-btm .other-f-links li a {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 5px 8px;
  }
}

footer .container .middle .middle-btm .other-f-links li a:after {
  content: '';
  position: absolute;
  right: 0;
  background: #ffffff;
  height: 60%;
  width: 1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .container .middle .middle-btm .other-f-links li:last-child a:after {
  display: none;
}

footer .container .middle .middle-btm .right-tagline {
  width: 22%;
}

@media (min-width: 1800px) {
  footer .container .middle .middle-btm .right-tagline {
    padding-right: 50px;
  }
}

@media (max-width: 1236px) {
  footer .container .middle .middle-btm .right-tagline {
    width: 31%;
  }
}

@media (max-width: 767px) {
  footer .container .middle .middle-btm .right-tagline {
    width: 100%;
  }
}

@media (max-width: 550px) {
  footer .container .middle .middle-btm .right-tagline {
    width: 48%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 767px) {
  footer .container .middle .middle-btm .right-tagline img {
    margin: 0 auto;
  }
}

footer .container .right {
  width: 23%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1236px) {
  footer .container .right {
    width: 23%;
  }
}

@media (max-width: 767px) {
  footer .container .right {
    padding: 0 15px;
    width: 100%;
  }
}

footer .container .right img {
  width: 80%;
  width: 93%;
}

@media (min-width: 1800px) {
  footer .container .right img {
    width: 100%;
    width: 97%;
  }
}

@media (max-width: 1236px) {
  footer .container .right img {
    width: 70%;
  }
}

@media (max-width: 767px) {
  footer .container .right img {
    width: 50%;
  }
}

footer .container .right p {
  padding: 20px 0;
  font-size: 1.05rem;
}

@media (min-width: 1800px) {
  footer .container .right p {
    font-size: 1.38rem;
    line-height: 1.9rem;
  }
}

@media (max-width: 1236px) {
  footer .container .right p {
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 10px 0 12px;
  }
}

@media (max-width: 767px) {
  footer .container .right p {
    font-size: 1.18rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 320px) {
  footer .container .right p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

footer .container .right .social-wrapp {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .container .right .social-wrapp a {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1800px) {
  footer .container .right .social-wrapp a {
    margin-right: 25px;
  }
}

footer .container .right .social-wrapp a:last-child {
  margin-right: 0;
}

footer .container .right .social-wrapp a.btn {
  margin-right: 0;
}

@media (max-width: 1236px) {
  footer .container .right .social-wrapp a.btn {
    padding: 6px 13px;
    font-size: 1rem !important;
    line-height: 1.2rem !important;
  }
}

@media (max-width: 767px) {
  footer .container .right .social-wrapp a.btn {
    font-size: 1.18rem !important;
    line-height: 1.3rem !important;
    padding: 8px 16px;
  }
}

footer .container .right .social-wrapp .social-menu p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .right .social-wrapp .social-menu p span {
  margin-right: 8px;
}

footer .footer-copyright {
  padding-top: 40px;
}

footer .footer-copyright .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  footer .footer-copyright .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer-copyright .container p, footer .footer-copyright .container a {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}

@media (max-width: 767px) {
  footer .footer-copyright .container p {
    padding-bottom: 8px;
  }
}

@media (max-width: 767px) {
  footer .footer-copyright .container p:last-child {
    padding-bottom: 0;
  }
}

footer .footer-copyright .container a {
  display: inline-block !important;
}
/*# sourceMappingURL=footer.css.map */