<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <helloworld>
            <general>
                <enable>0</enable>
                <carrier_name></carrier_name>
                <sandbox>0</sandbox>
                <api_key></api_key>
            </general>
        </helloworld>
    </default>
</config>